body{
    margin:0 auto;
    text-align: center;
    padding:5%;
	background:rgb(248, 252, 241);
}
p{
    font-size:large;
}
.board{
	display: inline-block
}
.c1{
	font-weight: 1000;
}
.button {
	display       : inline-block;
	border-radius : 5%;          /* 角丸       */
	font-size     : 22pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 25px 80px;   /* 余白       */
	background    : #020216;     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  }
  .button:hover {
	box-shadow    : none;        /* カーソル時の影消去 */
  }