{% load static %}

<link rel="stylesheet" href="{% static 'stylesheet/comp.css' %}">
<html>
    <head>
    </head>
    <body>
    <h1 style="text-shadow: 4px 4px 8px #5c5c5c;font-weight:800"><font face="Impact">あなたの好みのタイプにカスタマイズします</font></h1>
    <p>あなたの好みに類似した特徴ベクトルを持った芸人を探索します</p>
    <form action="{% url 'mondaiapp:result' %}" method="post">
        {% csrf_token %}
        <p>
            <input id="i1"class="radio-inline__input" type="radio" name="q1" value="漫才" disabled> 
            <label class="radio-inline__label" for="i1"><font color=gray>漫才</font></label>　
            <input id="i2"class="radio-inline__input" type="radio" name="q1" value="コント" disabled>
            <label class="radio-inline__label" for="i2"><font color=gray>コント</font></label>
            <input id="i3"class="radio-inline__input" type="radio" name="q1" value="ピン" checked>
            <label class="radio-inline__label" for="i3"><font color=red>ピン芸人</font></label>
        </p><br>

        <!-- （AHP部分↓）
        <p><font size=5>左と右のどちらの要素を重視しますか？</font></p>
        <p><font size=1>絶対に左　　　やや左　　　変わらない　　　やや右　　　絶対に右</font></p>
        <p>王道さ　　　　　　
            <input type="radio" name="c1" value=5 required>　　　
            <input type="radio" name="c1" value=3>　　　
            <input type="radio" name="c1" value=1>　　　
            <input type="radio" name="c1" value=0.3333333333>　　　
            <input type="radio" name="c1" value=0.2>　　　　　　構成力
        </p>

        <p>王道さ　　　　　　
            <input type="radio" name="c2" value=5 required>　　　
            <input type="radio" name="c2" value=3>　　　
            <input type="radio" name="c2" value=1>　　　
            <input type="radio" name="c2" value=0.3333333333>　　　
            <input type="radio" name="c2" value=0.2>　　　　　　センス
        </p>
        <p>王道さ　　　　　　
            <input type="radio" name="c3" value=5 required>　　　
            <input type="radio" name="c3" value=3>　　　
            <input type="radio" name="c3" value=1>　　　
            <input type="radio" name="c3" value=0.3333333333>　　　
            <input type="radio" name="c3" value=0.2>　　　　　　　風刺
        </p>
        <p>構成力　　　　　　
            <input type="radio" name="c4" value=5 required>　　　
            <input type="radio" name="c4" value=3>　　　
            <input type="radio" name="c4" value=1>　　　
            <input type="radio" name="c4" value=0.3333333333>　　　
            <input type="radio" name="c4" value=0.2>　　　　　　センス
        </p>
        <p>構成力　　　　　　
            <input type="radio" name="c5" value=5 required>　　　
            <input type="radio" name="c5" value=3>　　　
            <input type="radio" name="c5" value=1>　　　
            <input type="radio" name="c5" value=0.3333333333>　　　
            <input type="radio" name="c5" value=0.2>　　　　　　　風刺
        </p>
        <p>センス　　　　　　
            <input type="radio" name="c6" value=5 required>　　　
            <input type="radio" name="c6" value=3>　　　
            <input type="radio" name="c6" value=1>　　　
            <input type="radio" name="c6" value=0.3333333333>　　　
            <input type="radio" name="c6" value=0.2>　　　　　　　風刺
        </p>
        -->
        <div class="box">
        <div style="background-color:#f2f2f2;;width:430px;padding:32px;margin:auto;border-radius : 5%;box-shadow    : 8px 8px 6px #666666;">
        <br><p>項目の説明</p><br>
        <p><font size=3>人気度：　　世間からの評価の度合い　　　　　　　　　</font></p>
        <p><font size=3>モノマネ力：　　ネタにおけるモノマネの程度　　　　　</font></p>
        <p><font size=3>発言のおかしさ：　　発言がどの程度意味不明か。　　　<br><font size=2>　　　　　　(例、普通->偏見->ボケ->意味不明)</font></font></p>
        <p><font size=3>クレイジーさ：　　　言動がどれだけ常識から外れてるか</font></p>
        <p><font size=3>複雑さ：　　　ネタの巧みさ、よく意図が練られている　</font></p>
        </div>
        <div class="board" style="background-color:#cdcccc;;width:800px;padding:20px;margin:auto;border-radius : 5%;box-shadow    : 8px 8px 6px #666666;">
        <p style="text-shadow: 4px 4px 8px #5c5c5c;font-weight:800"><font face="Impact"size=5>各項目についてどの程度求めますか？</font></p><br>
        <p><font size=1>　　　　　　　　　　　　　　　　いらない　 　　　　  あってもいい　　　　 　　欲しい　　　　　　　    非常に欲しい　　　　　    絶対に欲しい　</font></p>
        
        <div class="comps">
        <p>人気度　　　　　　
            <input type="radio" name="c1" value=1 required>　　　　　
            <input type="radio" name="c1" value=3>　　　　　
            <input type="radio" name="c1" value=5>　　　　　
            <input type="radio" name="c1" value=7>　　　　　
            <input type="radio" name="c1" value=9>　　
        </p>

        <p>モノマネ力　　　　
            <input type="radio" name="c2" value=1 required>　　　　　
            <input type="radio" name="c2" value=3>　　　　　
            <input type="radio" name="c2" value=5>　　　　　
            <input type="radio" name="c2" value=7>　　　　　
            <input type="radio" name="c2" value=9>　　
        </p>
        <p>発言のおかしさ　　
            <input type="radio" name="c3" value=1 required>　　　　　
            <input type="radio" name="c3" value=3>　　　　　
            <input type="radio" name="c3" value=5>　　　　　
            <input type="radio" name="c3" value=7>　　　　　
            <input type="radio" name="c3" value=9>　　
        </p>
        <p>クレイジーさ　　　
            <input type="radio" name="c4" value=1 required>　　　　　
            <input type="radio" name="c4" value=3>　　　　　
            <input type="radio" name="c4" value=5>　　　　　
            <input type="radio" name="c4" value=7>　　　　　
            <input type="radio" name="c4" value=9>　　
        </p>
        <p>複雑さ　　　　　　
            <input type="radio" name="c5" value=1 required>　　　　　
            <input type="radio" name="c5" value=3>　　　　　
            <input type="radio" name="c5" value=5>　　　　　
            <input type="radio" name="c5" value=7>　　　　　
            <input type="radio" name="c5" value=9>　　
        </p>
        <p>　　　　　　
            <input type="hidden" name="c6" value=0>　　　　　　　　　　　　　　　　　　　　　　　　
        </p>
        </div>
        </div>
        </div>
        <p>
            <input class="button" type="submit" value="決　　定">
        </p>
        
    </form>
    <p></p>
    <a href="{% url 'mondaiapp:index' %}">Homeに戻る</a>
    </body>
</html>